/*Images*/
img{
    filter: white;
}

/*Header*/
div[name="header"] {
    background-color: rgb(30, 80, 243);
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    display: flex;
    justify-content: space-between;
}

#srcBar{
    margin-right: 5em;
    width: 20em;
    border-style: none;
    border-radius: 4px;
}

#usrIcon{
    margin-top: -0.5%;
    width: 2em;
    height: 2em;
}

.filter-white{
    filter: invert(100%)
}

#filmIcon{
    margin-top: -5%;
}

/*Main panel*/
div[name="mainPanel"] {
    display: flex;
    height: 32.3em;
}

#leftP{
    justify-content: flex-start;
    width:25%;
    background-color: rgb(246, 246, 246);
}

#innerLeftP{
    width: 90%;
    margin-left: 0.5em;
    margin-top: 0.5em;   
}

#list-group-item#list-group-item-action#active{
    color: white !important;
    background-color: rgb(8, 50, 96) !important;
}

#rightP{
    justify-content: flex-end;
    padding-top: 1%;
    padding-left: 1%;
    width:75%;
}

li.nav-item{
    height: 50%;
}

.tFilm{
    width: 100%;
}

.tFilm tr{
    height: 3em;
    width: 100%;
}

.fTitle.fav{
    color: red;
}

.tFilm td{
    border-style: solid none none none;
    border-width: 1px;
    border-color: rgb(197, 197, 197);
    width: 25%;
}

/*img[name='imgTrash']{
    padding-bottom: 0.2em;
}*/

.star{
    filter: invert(50%);
}

.star.filled{
    filter: invert(100%);
}

div[name="tFav"]{
    color: blue;
}

/*Footer*/
button[name="btnPlus"]{
    background-color: rgb(30, 80, 243);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 100%;
    width: 3.8em;
}